
header img {
    float: left;
    margin-right: 20px;
    width:100px;
}

header, footer {
    background: #ccc;
}

#content, header div, footer p {
    max-width: 960px;
    margin: 10 auto;
}

nav {
    background-color: #dba3f5;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

nav a {
    float: left;
    margin-right:20px;
}

footer {
    height: 40px;
    line-height:40px;
}

ul{
    background-color: #f8d0d0;
}

.table{
    background-color: #fadea5;
    padding: 10px;
}


table, th, td{
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #f79c9c;
}

form{
    margin-top:20px;
    background-color: #e5bbf8;
    padding: 10px;
}



@media screen and (min-width: 800px) {
   nav {
        flex-direction: row;
    }
}
