
header img {
    float: left;
    margin-right: 20px;
    width:100px;
}

header, footer {
    background: #ccc;
}

#content, header div, footer p {
    max-width: 960px;
    margin: 10 auto;
}


nav a {
    float: left;
    margin-right:20px;
}

footer {
    height: 40px;
    line-height:40px;
}

table, th, td{
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #f79c9c;
}

form{
    margin-top:20px;
}