footer {
    background: #ccc;
}

footer {
    height: 40px;
    line-height: 40px;
}

.list {
    background-color: #f8d0d0;
}



.form {
    background-color: #e5bbf8;
}






